@import "imports/header-footer.css";

@font-face {
    font-family: "ArialRounded";
    src: url("Arial Rounded MT Std Bold.ttf") format("truetype");
}



main {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(0deg, rgba(0,0,0,1) 90%, rgba(3,142,255,1) 100%, rgba(3,142,255,1) 100%);
    padding: 0 5%;
}

h3 {
    text-transform: uppercase;          /*make variable - cart and sell*/
    padding-top: 12px;
    margin-top: 0;
}

h4 {
    margin: 12px 0 6px 12px;
}

#cart-summary, #page-title, .checkout-success {
    width: 100%;
    max-width: 826px;   /* some added to bring it inling with elements that have max-width 800px plus padding and border*/
}

.summary {
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 6px;
    font-size: 0.7em;
    padding: 12px;
}

td {
    padding: 0 5px;
}

.column-headers {
    text-decoration: underline;
}

.item-info td {
    padding: 5px;
    vertical-align: top;
}

#remove {
    color: red;
    text-align: center;
}

.total td {
    font-weight: bold;
}


#delivery-details, #payment-method, #billing-address {
    max-width: 800px;
}

#delivery-details div, .card-details div {
    margin: 6px 5% 0 0;
    display: inline-block;
    width: 100%;
    max-width: 200px;
}

#payment-method .payment-radio {
    max-width: 800px;
}

#payment-method .payment-radio div{
    margin: 0;
    text-align: center;
}

label, form p {
    font-size: 0.7rem;
    font-weight: bold;
}

.form-input, .payment-options {         /*make variable*/
    border-radius: 6px;
    display: block;
    width: 100%;
    
}

.payment-options {
    height: 12px;
    width: 110px;
    border: 2px solid cyan;
    padding: 3px 8px;
    margin: 6px;
}

.payment-radio input {
    display: none;
}

.payment-radio input[type="radio"]:checked + label {
    background-color: rgba(3,142,255,1);            /* change colour of label when checked */
  }

.payment-radio div {
      display: inline-block;
  }


fieldset {
    border-radius: 6px;
    margin: 24px 0;
}

legend {
    font-weight: bold;
}


#payment-method .expiry, #payment-method .cvc {
    width: 110px;
    float: left;
}

input[type="submit"] {
    display: block;
    margin: 24px auto 48px auto;
    padding: 6px 16px;                 /*create variable for cta*/
    border: 2px solid cyan;         /*create variable for cta*/
    color: white;                   /*create variable for cta*/
    font-weight: bold;                /*create variable for cta*/
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 60%, rgba(3,142,255,1) 100%, rgba(3,142,255,1) 100%);
}

.checkout-success p {
    font-size: 0.7rem;
    margin: 6px 0 6px 12px;
}
.checkout-success a {
    text-decoration: none;
    color: cyan;
}

.success-main {
    background: linear-gradient(0deg, rgba(0,0,0,1) 75%, rgba(3,142,255,1) 100%, rgba(3,142,255,1) 100%);
}


