@font-face {
    font-family: "ArialRounded";
    src: url("Arial Rounded MT Std Bold.ttf") format("truetype");
  }


body {
    margin: 0px;
    background-color: black;
}

/* ---------------------------------------------------Header------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------*/


header {
    
    background: rgb(0,0,0);
    background: linear-gradient(22deg, rgba(0,0,0,1) 60%, rgba(3,142,255,1) 100%, rgb(3, 142, 255) 100%);
    color: white;
    font-family: "ArialRounded", Arial, Helvetica, sans-serif ;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    border-bottom: solid 3px white;
}

/* Top Left Header - logo and titles*/
header h1 {
    padding: 20px 0 0 20px; 
    margin: 0 0 0 20%; 
    font-size: 1.3em;
    text-shadow: 2px 2px 2px #87FBFF;
}

header h2 {
    font-size: 0.7em;
    padding-left: 20px;
    margin: 0 0 0 20%;
    text-shadow: 1px 1px 1px #87FBFF;
}

header a {                              /*  remove hyperlink look */
    color: white;
    text-decoration: none;
}


.logo img {
        width: 12%;
        min-width: 60px;
        height: auto;
        float: left;
        margin: 20px 10px 5px 0px;
        position: relative;
        left: 3%;
}

.top-right {
    display: none;
}
    
.hamburger, .showClose {
    display: block;
    position: absolute;
    right: 5%;
    top: 20px;
    background-color: transparent;
    background-image: url("../icons and logos/hamburger-menu.png");
    border: none;
    width: 45px;
    height: 34px;
    background-size: 100%;
    z-index: 1000;
}

.showClose {
    background-image: url("../icons and logos/close-menu.png");
}


nav {
    display: block;
    position: absolute;
    top: 80px;
    right: 5%;
    background: black;
    border-radius: 6px;
    width: auto; 
    height: 0px;
    overflow: hidden;
    color: white;
    z-index: 1000;
    
}

nav ul {
    padding: 0px 10px;
}

nav li {
    margin: 10px 0;

    list-style-type: none;
    color: white;
}

nav li a {
    display: block;                         /* make whole nav item clickable, not just text*/
}

.showNav {                                  /* show the menu */
    width: auto;
    height: auto;
    border: solid 3px #FF9AD7;
}



/* account, cart, search at bottom of screen */
.mobile-tr {
    display: inline;
    position: fixed;
    bottom: 0;
    background-color: rgba(3,142,255,0.7);
    width: 100%;
    border: solid 3px white;
}

.mobile-tr a {
    height: 30px;
    width: 32px;
    padding: 5px 10px;
}
    


/* -----------------------------------------------------------Footer-------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/

.quick-links {
    background-color: black;
    font-size: 0.8em;
    color: rgb(173, 173, 173);
    
}
.quick-links div {
    padding: 10px;
    margin: 0 20%;
}
.quick-links p {
    margin: 0;
}

