@media (min-width: 400px){ 
    .pcgames .featured-item {
        width: 47%;
    }
}


@media (min-width: 600px){              /* Drop mobile features for screens wider than 600px --*/

    /* header changes: ------ */

    .hamburger, .showClose {           /*  remove hamburger menu */
        display: none;
    }
    header {
        padding-bottom: 0;
        border: none;
    }
    header h1 {
        font-size: 1.7em;
    }
    header h2 {
        font-size: 1.1em;
    }
    .top-right {                       /*repostion account and cart to top right*/
        display: block;
        position: absolute;
        right: 2.5%;
        top: 20px; 
        text-align: right;
        background-color: unset;
        border: none;
        width: auto;
        height: 100px;
    }
    .text {
        display: unset;
        position: relative;
        bottom: 10px;
        right: 5%;
        font-size: 0.6em; 
    }
    .top-right div {
        display: block;
    }
    .top-right img {
        height: 22px;
        width: 20px;
        padding-bottom:5px;
    }
    .top-right a {
        padding: 0;
    }

    .logo img {
        min-width: 80px;
    }

    nav {                              /*  Reposition and style nav bar */
        height: auto;
        position: relative;
        top: auto;
        right: auto;
        background-color: unset;
        clear: left;
        text-align: center;
            
    }
    nav ul {
        padding: 0;
        margin-bottom: 0;
    }

    nav li {
        display: inline-block;
        width: 19.9%;               /*leave room for border widths, therefore not 20%*/
        margin: 0;
        font-size: 0.9em;
        padding: 5px 0;
        border-bottom: solid 3px white;
        
    }
    .here {                         /* Add a box around nav item to show which page the user is on */
        border: solid 3px white;  
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        margin-left: -1.5px;
        margin-right: -1.5px;
       
    } 
    .here#store {
        border-bottom: solid 3px rgb(205,55,80);   
        background-color: rgb(205,55,80); 
    }

    .here#sell {
        border-bottom: solid 3px #6000A9;  
        background-color:  #6000A9; 
    }

    .here#news {
        border-bottom: solid 3px #6000A9;  
        background-color:  #6000A9; 
    }
    .here#support {
        border-bottom: solid 3px #6000A9;  
        background-color:  #6000A9; 
    }
    .here#login {
        border-bottom: solid 3px #6000A9;  
        background-color:  #6000A9; 
    }




    /* main changes -------------------------- */
    #store-search {
        position: absolute;
        bottom: unset;
        top: 0px;
        margin: 0;
        right: 2.2%;

    }
    #store-search input {
        width: 18vw;
        top: 5px;
    }
    #search-button {
        top: 5px;
    }
   
    .main-storefront h3 {
        font-size: 1.3em;
    }

    .main-storefront {
        display: flex;
        text-align: center;   
    }

    .store-navigation a {
        transition-property: all;
        transition-duration: 0.2s;
        position: relative;
        top: 10px; 
        /* font-size: 0.8em;        */
    }
    .store-navigation li {
        
        padding: 0 1%;
    }

    .store-navigation a:hover {
        font-weight: bold;
    }

    .search-results p {
        font-size: 1em;   
    }

    .search-item-information p{
        margin: 15px;
    }

    .result-item img {
        float: left;
    }

    .pcgames .featured-item {
        width: 22%;
    }
    .pcgames {
        padding: 0;
    }



    /* changes to checkout     */
    #cart-summary, #delivery-details, #payment-method, #page-title, #billing-address, .checkout-success {
        margin: 0 auto 24px auto;
    }
    .summary, label, .form p, .checkout-success p {
        font-size: 1rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    .payment-options {
            width: 150px;
            height: 16px;
    }

    
    /* changes to form layout on sell page and login page */
    #sell-main form, #login-main form {
        width: 66%;
        max-width: 800px;

        
    }
    #game-details label {
        font-size: 1.2rem;
    }
    #sell-form h3 {
        font-size: 1.2rem;
    }
    .price {
        max-width: 150px;
        display: inline-block;
    }
    
    /* changes to form layout on signup page */
    
    #signup-main {
        display: flex;  
    }
    #signup-main form {
        max-width: 624px;
        margin-right: 0;
    }

    #signup-details {  
        flex: 3;
        margin-right: 24px;
        max-width: 600px;

    }

    #member-benefits {
        padding-top: 12px;
        margin-left: 24px;
        flex: 2;
        max-width: 400px;
    }

    /* footer changes */
    footer {
        text-align: center;
    }
    .quick-links div {
        display: inline-block;
        margin: 0;
    }
    .quick-links {
        width: 100%;
        max-width: 800px;
        display: unset;
        text-align: center;
    }
    #legal {
        text-align: left;
    }
    #address {
        text-align: right;
    }
}


/* Increase sizes for larger screens (over 800px wide) */
@media (min-width: 800px){
    header h1 {
        font-size: 2em;
        
    }
    header h2 {
        font-size: 1.4em;
    }

    .logo img {
        min-width: 100px;
        left: 5%;
    }
    .top-right img {
        height: 30px;
        width: 32px;  
    }
    .text {
        font-size: 0.8em;
    }

    nav li {
        font-size: 1.1em ;
    }
    nav ul {
        margin-top: 25px;
    }

    .store-navigation li {
        font-size: 0.9em;
        padding: 8px 0.9%;
    }

    .reviews {
        display: unset;
    }

    /* switch to grid layout on sell form */
    #game-details .game-name {grid-area: title;}
    #game-details .condition-radio {grid-area: condition;}
    #game-details .image-upload {grid-area: image;}
    #game-details .description {grid-area: description;}
    #game-details .price {grid-area: price;}
    #game-details .terms {grid-area: terms;}
    #game-details .send {grid-area: send;}

    #game-details {
        display: grid;
        grid-template-areas:
        'title title'
        'condition image'
        'description description'
        'price terms'
        'send send';
    }
    #game-details .terms input{
        display: block;
        margin: 6px;
        height: 18px;
        width: 18px;
    }
    #game-details .game-name {
        max-width: 400px;
    }

    #game-details .send {
        text-align: center;
    }
    .image-upload p{
        display: inline-block;
    }

}

/* Increase sizes for larger screens (over 1000px)*/
@media (min-width: 1000px){
    header h1 {
        font-size: 2.5em;
        
    }
    header h2 {
        font-size: 1.8em;
    }
    nav li {
        font-size: 1.5em ;
    }
    .store-navigation li {
        font-size: 1em;
        padding: 8px 1.8%;
        
    }
    .main-storefront h3 {
        font-size: 1.5em;
    }
   
    .news {
        display: unset;
    }
    .featured {
        flex: 3;
    }
    .pcgames{
        flex: 4;
    }
}
