@import "imports/header-footer.css";

@font-face {
    font-family: "ArialRounded";
    src: url("../Arial Rounded MT Std Bold.ttf") format("truetype");
  }

main {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(0deg, rgba(0,0,0,1) 90%, #008186 100%, #008186 100%);
}


h3 {
    font-family: "ArialRounded", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 0.9rem;
    padding-top: 12px;
    text-align: center;
    margin-top: 0;
}

.alien {
    animation-name: alien-attack;
    animation-duration: 10s;
    height: 350px;
    width: 300px;
    background-color: black;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover; 

}

@keyframes alien-attack {
    0% {background-image: url('../images/aliens/alien-down-mobile.png');}
    5% {background-image: url('../images/aliens/alien-up-mobile.png');}
    10% {background-image: url('../images/aliens/alien-down-mobile.png');}
    15% {background-image: url('../images/aliens/alien-up-mobile.png');}
    20% {background-image: url('../images/aliens/alien-down-mobile.png');}
    25% {background-image: url('../images/aliens/alien-up-mobile.png');}
    30% {background-image: url('../images/aliens/alien-down-mobile.png');}
    35% {background-image: url('../images/aliens/alien-up-mobile.png');}
    40% {background-image: url('../images/aliens/alien-frame-1.png');}
    45% {background-image: url('../images/aliens/alien-frame-2.png');}
    50% {background-image: url('../images/aliens/alien-frame-3.png');}
    55% {background-image: url('../images/aliens/alien-frame-4.png');}
    60% {background-image: url('../images/aliens/alien-frame-5.png');}
    65% {background-image: url('../images/aliens/alien-frame-6.png');}
    70% {background-image: url('../images/aliens/alien-frame-7.png');}
    75% {background-image: url('../images/aliens/exploding.png');}
    80% {background-image: url('../images/aliens/exploded.png');}
    90% {background-image: url('../images/aliens/gone.png');}
    100% {background-image: url('../images/aliens/gone.png');}
}

#alien-attack {
    position: relative;
}

#alien-attack article {
    margin: 12px auto;
    border: 2px solid white;
    border-radius: 6px;
    padding: 12px;
    width: 350px;
    
}