
fieldset {
    border-radius: 6px;
    background-color: black;
}

#sell-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-input {                           /*make variable - cart and sell*/
    border-radius: 6px;
    /* display: block; */
    width: 100%;
    margin-top: 6px;
    padding: 3px;
}

.form-error {
    color: red;
    margin: 4px 0;
    visibility: hidden;
}

#game-details {
    max-width: 350px;
    display: block;
}
#description {
    max-width: 600px;
}

#sell-main label, .extra-label {
    font-weight: bold;
    margin: 0;
    font-size: 1rem;
    text-align: left;
}

form div {
    margin: 36px 0;
    padding: 0 12px;
}

.sell-image img {
    display: none;
    max-width: 500px;
    margin-top: 40px;
}

.condition-radio div, .condition-radio label {
    margin: 3px 0;
    font-weight: normal;
}

.link-to-login {
    display: inline-block;
    text-align: center;
    background-color: #87FBFF;
    padding: 4px 12px;
    text-decoration: none;
    margin-left: 12px;
    border-radius: 5px;
}

.link-to-login:hover, .link-to-login:focus {
    background-color: #f62681;
    color: white;
}

.image-upload p{
    display: none;
    border: 1px solid grey;
    border-radius: 6px;
    height: 90%;
    width: 100%;
    text-align: center;
    color: grey;
} 

input[type="file"] {
    display: none;
}

label span { 
    background-color: #038eff;
    font-weight: normal;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 4px 10px;
    font-size: 0.8rem;  
}

.price input {
    max-width: 50px;
}

.send label {
    display: block;
}

.send input {
    margin: 6px auto;
}

#terms {
    height: 20px;
    width: 20px;
}

#send:focus {
    border-bottom: none;
}

.animate {
    animation-name: rotate;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    
}
  
@keyframes rotate {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}

.success{
    text-align: center;
    margin-top: 60px;
}



.success a {
    margin: 10px 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #038eff;
    padding: 4px 16px;
    border-radius: 6px;
}

.success a:hover {
    background-color: #f62681 ;
}

.success a:focus {
    background-color: #f62681 ;
}



.hidden {
    visibility: hidden;
}