@font-face {
    font-family: "ArialRounded";
    src: url("Arial Rounded MT Std Bold.ttf") format("truetype");
  }


/* ------------------------------------------------------Main------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/

main {
    background: linear-gradient(0deg, rgba(0,0,0,1) 98%, rgba(205,55,80,1) 100%, rgba(205,55,80,1) 100%);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.store-navigation ul {
    margin-top: 0;
    padding: 0;
    list-style-type: none;    /*Remove bullet points*/   
}

.store-navigation a {
    text-decoration: none;    /*Remove hyperlink underline*/ 
    color: white; 
    font-size: 0.7rem;
}


.store-navigation li {
    display: inline;
    font-family: "ArialRounded", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 0 0.45%;
    font-size: 0.7rem;
    
}

#store-search {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
    height: 38px;
    margin: auto 10px auto 0px;
    z-index: 2001; 
    -webkit-transform: scale(1); transform: scale(1);
}

#store-search input {
    float: left;
    height: 25px;
    padding: 0;
    border-radius: 10px 0px 0px 10px;
    width: 40vw;
    border: 1px solid black;
    border-right: none;
    position: relative;
    /* top: 6px; */
    margin-top: 6px;
    -webkit-appearance: none;   /* overrides iOS styling which was rounding all corners of search input*/ 
    -webkit-transform: scale(1); transform: scale(1);
   
}

#search-button {
    float: left;
    height: 23.4px;
    width: 28px;
    background: url("../icons and logos/search-icon.png") center;
    background-size: 80%;
    border: 1px solid black;
    background-repeat: no-repeat;
    position: relative;
    background-color: white;
    border-left: none;
    margin-top: 6px;
    border-radius: 0 10px 10px 0;
    -webkit-transform: scale(1); transform: scale(1);
     
}

.this-page a {
    text-decoration: underline;
    font-weight: bold;
}


.main-storefront section {
    padding: 0 2.5%;
}

.main-storefront img {
    width: 100%;
    margin-top: -12%;   /*remove the green playbox bars from the tops of the game images*/
}

.main-storefront span {
    color: #87FBFF;
}

.main-storefront h3 {
    color: white; 
    text-transform: uppercase;
    text-align: left;
}

.news {
    display: none;
    flex: 1;
    margin: 0;
}

.news-item, .featured-item, .reviews-item, .result-item {
    width: 100%;
    border: solid 3px white;
    border-radius: 6px; 
    color: white;
    margin: 12px 0 24px 0; 
    overflow: hidden; 
    position: relative;
}

.item-information {
    position: absolute;
    top: 2%;
    z-index: 1500;
    text-align: left;
    margin: 5px 5% 0 5%;
    display: none;
    font-size: 1em;
}

.item-information p, .item-information h5 {
    margin: 5px 0;
}
.item-information h5 {
    font-size: 1.1em;
}

.item-info-show div{
    display: block;
    
}

.image-blur img {
    transition-property: all;
    transition-duration: 0.5s;
    filter: blur(10px) brightness(50%); 
}


.featured, .search-results {
    flex: 4;
    text-align: center; 
}

.featured-item, .result-item {
    border-color: #87FBFF;     
}


.reviews {
    display: none;
    flex: 1;
    text-align: left;
}

.reviews-item {
    border-color: #FF9AD7;   
}

.reviews h4, .reviews p {
    padding: 5px;
    margin: 0;
}

.search-results p  {
    color: white;
    text-transform: uppercase;
    margin: 3px 0;
    font-size: 0.8em;
    text-align: left;
}
.result-item {
    min-height: 300px;
    background-color: #222;
}
.search-results h3 {
    font-size: 0.9em;
    margin: 24px 0 5px 0;
}

.result-item img {
    width: 50%;
    margin: 0 10px 10px 0;      
}

.search-item-information p {
    text-transform: none;
    margin: 5px;
} 

.pricing-info {
    clear: left;
}

.cta-button {
    position: relative;
    float: left;
    margin: 8px 25px;
}

.cta-button p{
    display: inline-block;
    position: relative;
    font-size: 1em;
    text-transform: uppercase;
    margin: 15px;
    vertical-align: top;
       
}

.cta-button img  {
    width: 59px;
    height: 55px;
    float: left;
    text-align: left;
    filter: unset;
    margin: 0;
}






/* Help with linear gradient from https://cssgradient.io/ */

