@font-face {
    font-family: "ArialRounded";
    src: url("Arial Rounded MT Std Bold.ttf") format("truetype");
  }


body {
    margin: 0px;
}


/* Header---------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------*/
header {
    
    background: rgb(0,0,0);
    background: linear-gradient(22deg, rgba(0,0,0,1) 60%, rgba(113,247,252,1) 100%, rgba(113,247,252,1) 100%);
    color: white;
    font-family: "ArialRounded", Arial, Helvetica, sans-serif ;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    border-bottom: solid 3px white;
}

/* Top Left Header - logo and titles*/
header h1 {
    padding: 20px 0 0 20px; 
    margin: 0 0 0 20%; 
    font-size: 1.3em;
    text-shadow: 2px 2px 2px #87FBFF;
}

header h2 {
    font-size: 0.7em;
    padding-left: 20px;
    margin: 0 0 0 20%;
    text-shadow: 1px 1px 1px #87FBFF;
}

header a {                              /*  remove hyperlink look */
    color: white;
    text-decoration: none;
}


.logo img {
        width: 12%;
        min-width: 60px;
        height: auto;
        float: left;
        margin: 20px 10px 5px 0px;
        position: relative;
        left: 3%;
}

.top-right {
    display: none;
}
    
.hamburger, .showClose {
    display: block;
    position: absolute;
    right: 5%;
    top: 20px;
    background-color: transparent;
    background-image: url("../icons and logos/hamburger-menu.png");
    border: none;
    width: 45px;
    height: 34px;
    background-size: 100%;
    z-index: 1000;
}

.showClose {
    background-image: url("../icons and logos/close-menu.png");
}


nav {
    display: block;
    position: absolute;
    top: 80px;
    right: 5%;
    background: black;
    border-radius: 6px;
    width: auto; 
    height: 0px;
    overflow: hidden;
    color: white;
    z-index: 1000;
    
}

nav ul {
    padding: 0px 10px;
}

nav li {
    margin: 10px 0;

    list-style-type: none;
    color: white;
}

nav li a {
    display: block;                         /* make whole nav item clickable, not just text*/
}

.showNav {                                  /* show the menu */
    width: auto;
    height: auto;
    border: solid 3px #FF9AD7;
}



/* account, cart, search at bottom of screen */
.mobile-tr {
    display: inline;
    position: fixed;
    bottom: 0;
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    border: solid 3px white;
}

.mobile-tr a {
    height: 30px;
    width: 32px;
    padding: 5px 10px;
}
    

#search {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
    height: 38px;
    margin: auto 10px auto 0px;
    z-index: 1000;
}
#search input {
    height: 80%;
    border-radius: 19px;
    width: 50vw;
}






/*Main ------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/

main {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 90%, rgba(205,55,80,1) 100%, rgba(205,55,80,1) 100%);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.store-navigation ul {
    margin-top: 0;
    padding: 0;
    list-style-type: none;    /*Remove bullet points*/   
}

.store-navigation a {
    text-decoration: none;    /*Remove hyperlink underline*/ 
    color: white; 
}


.store-navigation li {
    display: inline-block;
    font-family: "ArialRounded", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 8px 0.45%;
    vertical-align: top;
    font-size: 0.7em;
}

.store-navigation button {
    height: 25px;
    width: 25px;
    background-image: url("../icons and logos/search-icon.png");
    background-size: 100%;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    position: relative;
    bottom: 3px;
}

.store-navigation input {
    border-radius: 10px;
}

.this-page a {
    text-decoration: underline;
    font-weight: bold;
}


.main-storefront section {
    padding: 0 2.5%;
}

.main-storefront img {
    width: 100%;
}

.main-storefront span {
    color: #87FBFF;
}

.main-storefront h3 {
    color: white; 
    text-transform: uppercase;
    text-align: left;
}

.news {
    display: none;
    flex: 1;
    margin: 0;
}

.news-item, .featured-item, .reviews-item {
    width: 100%;
    border: solid 3px white;
    border-radius: 6px; 
    color: white;
    margin: 12px 0 24px 0;  
}

.featured {
    flex: 4;
    text-align: center;  
}

.featured-item {
    border-color: #87FBFF;  
}

.reviews {
    display: none;
    flex: 1;
    text-align: left;
}

.reviews-item {
    border-color: #FF9AD7;
    
}

.reviews h3, p {
    margin-left: 1%;
}



/* Drop mobile features for screens wider than 600px */

@media (min-width: 600px){

    /* header changes -------------------------- */

    .hamburger, .showClose, .mobile-tr {           /*  remove hamburger menu */
        display: none;
    }
    header {
        padding-bottom: 0;
        border: none;
    }
    header h1 {
        font-size: 1.7em;
    }
    header h2 {
        font-size: 1.1em;
    }
    .top-right {                                    /*repostion account and cart to top right*/
        display: block;
        position: absolute;
        right: 5%;
        top: 20px; 
        text-align: right;
    }
    .text {
        position: relative;
        bottom: 10px;
        right: 5%;
        font-size: 0.6em; 
    }
    .top-right img {
        height: 22px;
        width: 20px;
        padding-bottom: 5px;
    }
    .logo img {
        min-width: 80px;
    }
    nav {
        height: auto;
        position: relative;
        top: auto;
        right: auto;
        background-color: unset;
        clear: left;
        text-align: center;
            
    }
    nav ul {
        padding: 0;
        margin-bottom: 0;
    }

    nav li {
        display: inline-block;
        width: 19.9%;               /*leave room for border widths, therefore not 20%*/
        margin: 0;
        font-size: 0.8em;
        padding: 5px 0;
        border-bottom: solid 3px white;
    }
    .here {                         /* Add a box around nav item to show which page the user is on */
        border: solid 3px white;  
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        margin-left: -3px;
        margin-right: -3px;
       
    } 
    .here#store {
        border-bottom: solid 3px rgb(205,55,80);   
        background-color: rgb(205,55,80); 
    }

    .here#sell {
        border-bottom: solid 3px #6000A9;  
        background-color:  #6000A9; 
    }


    /* main changes -------------------------- */
    #search {
        position: relative;
    }
    #search input {
        width: 20vw;
        margin: 6px 0 0 10px;
        height: 60%;
    }
    .main-storefront h3 {
        font-size: 1.3em;
    }

    .main-storefront {
        display: flex;
        text-align: center; 
         
    }

}


/* Increase sizes for larger screens (over 800px wide) */
@media (min-width: 800px){
    header h1 {
        font-size: 2em;
        
    }
    header h2 {
        font-size: 1.4em;
    }

    .logo img {
        min-width: 100px;
        left: 5%;
    }
    .top-right img {
        height: 30px;
        width: 32px;  
    }
    .text {
        font-size: 0.8em;
    }

    nav li {
        font-size: 1.1em ;
    }
    nav ul {
        margin-top: 25px;
    }
    .store-navigation li {
        font-size: 0.9em;
        padding: 8px 1%;
    }
    .reviews {
        display: unset;
    }
}

/* Increase sizes for larger screens (over 1000px)*/
@media (min-width: 1000px){
    header h1 {
        font-size: 2.5em;
        
    }
    header h2 {
        font-size: 1.8em;
    }
    nav li {
        font-size: 1.5em ;
    }
    .store-navigation li {
        font-size: 1em;
        padding: 8px 2%;
    }
    .main-storefront h3 {
        font-size: 1.5em;
    }
    .news {
        display: unset;
    }
    .featured {
        flex: 3;
    }
}






/* Help with linear gradient from https://cssgradient.io/ */

