@font-face {
    font-family: "ArialRounded";
    src: url("Arial Rounded MT Std Bold.ttf") format("truetype");
  }


body {
    margin: 0px;
}


/* Header---------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------*/
header {
    
    background: rgb(0,0,0);
    background: linear-gradient(22deg, rgba(0,0,0,1) 60%, rgba(113,247,252,1) 100%, rgba(113,247,252,1) 100%);
    color: white;
    font-family: "ArialRounded", Arial, Helvetica, sans-serif ;
    text-transform: uppercase;
    position: relative;
    
}

/* Top Left Header - logo and titles*/
.logo img {
    width: 12%;
    min-width: 100px;
    height: auto;
    float: left;
    margin: 40px 0px 10px 0px;
    position: relative;
    left: 5%;
}

header h1 {
    padding-top: 40px;
    font-size: 2.5em;
    margin: 0;
    margin-left: 20%;
    text-shadow: 2px 2px 2px #87FBFF;
}
header h2 {
    font-size: 1.8em;
    margin: 0;
    margin-left: 20%;
    text-shadow: 1px 1px 1px #87FBFF;
}


/* Top Right Header - cart and account*/
.top-right {
    display: block;
    position: absolute;
    right: 5%;
    top: 40px; 
    text-align: right;
}

.text {
    position: relative;
    bottom: 10px;
    right: 5%;
    font-size: 0.8em; 
}

.top-right img {
    height: 30px;
    width: 32px;
    padding-bottom: 5px;
}

/* Navbar  */

nav {
    clear: left;
    text-align: center;
    
} 
nav ul {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0px;         
    margin-bottom: 0;
}  

header a {
    color: white;
    text-decoration: none;      /*remove hyperlink look*/
}

header li {
    display: inline-block;
    width: 19.9%;               /*leave room for border widths, therefore not 20%*/
    margin-top: 20px;
    font-size: 1.5em;
    padding: 5px 0;
    border-bottom: solid 3px white;    
} 

/* Make whole nav item clickable, not just text */
header li a {
    display: block;
}



/* Add a box around nav item to show which page the user is on */
.here {
    border: solid 3px white;  
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: solid 3px rgb(205,55,80);  
    background-color: rgb(205,55,80); 
    margin-left: -3px;
    margin-right: -3px;
} 

/* Add a border radius at the bottom to get full 'folder divider' effect */
.right-of-here {
    border: solid 3px white;
    border-top: none;
    border-right: none;
    margin-left: 0px;
    border-bottom-left-radius: 6px;
} 

.left-of-here {
    border: solid 3px white;
    border-top: none;
    border-left: none;
    padding-right: 3px;
    margin-right: -3px;
    border-bottom-right-radius: 6px;
} 

/* hide mobile only elements */
.hamburger{
    display: none;
}
.mobile-tr {
    display: none;
}

/* Slight size reduction for smaller screens --------------*/

@media (min-width: 800px) and (max-width: 1000px){
    header h1 {
        font-size: 2em;
        
    }
    header h2 {
        font-size: 1.4em;
    }
    nav li {
        font-size: 1.1em ;
    }
}

/* Further size reduction for smaller screens */

@media (min-width: 600px) and (max-width: 800px){
    

    header h1 {
        padding-top: 20px;  
        font-size: 1.7em;
    }
    header h2 {
        font-size: 1.1em;
    }
    nav li {
        font-size: 0.8em ;
    }
    .logo img {
        width: 12%;
        min-width: 80px;
        height: auto;
        float: left;
        margin: 20px 0px 5px 0px;
        position: relative;
        left: 3%;
    }
    .text {
        font-size: 0.6em;
    }
    .top-right {
        top: 20px;
    }
    .top-right img {
        width: 22px;
        height: 20px
    }
}


/* Mobile version */

@media (max-width: 600px){
    header h1 {
        padding-top: 20px; 
        padding-left: 20px; 
        font-size: 1.3em;
    }
    header h2 {
        font-size: 0.7em;
        padding-left: 20px;
    }
    .logo img {
        width: 12%;
        min-width: 60px;
        height: auto;
        float: left;
        margin: 20px 10px 5px 0px;
        position: relative;
        left: 3%;
    }
    .text {
        font-size: 0.6em;
    }
    .top-right {
        display: none;
    }
       
    
    header {
        padding-bottom: 20px;
        border-bottom: solid 3px white;
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 5%;
        top: 20px;
        background-color: transparent;
        background-image: url("../icons and logos/hamburger-menu.png");
        border: none;
        width: 45px;
        height: 34px;
        background-size: 100%;
    }
    .showClose {
        display: block;
        position: absolute;
        right: 5%;
        top: 20px;
        background-color: transparent;
        background-image: url("../icons and logos/close-menu.png");
        border: none;
        width: 45px;
        height: 34px;
        background-size: 100%;
        z-index: 1000;
        
    }
    nav {
        display: block;
        position: absolute;
        top: 80px;
        right: 5%;
        background: black;
        border-radius: 6px;
        width: auto;
        height: 0px;
        overflow: hidden;
        color: white;
        
      }
   
      nav li , .here, .left-of-here, .right-of-here{
          background-color: unset;
          display:block;
          padding: 5px 0px;
          margin: 0 8px;
          list-style-type: none;
          font-size: 1em;
          background-color: none;
          border: none;
          width: 100%;
          text-align: left;
      }
  
      .showNav {
        /* show the menu */
        width: auto;
        height: auto;
        border: solid 3px #FF9AD7;
      }
    
      .mobile-tr {
          display: inline;
          position: fixed;
          bottom: 0;
          background-color: rgba(255,255,255,0.5);
          width: 100%;
          border: solid 3px white;
      }
      .mobile-tr a {
          height: 30px;
          width: 32px;
          padding: 5px 10px;
      }
      
      
}


/*Main ---------------------------------------------------------------*/

main {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 90%, rgba(205,55,80,1) 100%, rgba(205,55,80,1) 100%);
}

main p {
    margin-top: 0;
    color: white;
}





/* Help with linear gradient from https://cssgradient.io/ */