@font-face {
    font-family: "ArialRounded";
    src: url("Arial Rounded MT Std Bold.ttf") format("truetype");
  }


body {
    margin: 0px;
}


/* Header---------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------*/
header {
    
    background: rgb(0,0,0);
    background: linear-gradient(22deg, rgba(0,0,0,1) 60%, rgba(113,247,252,1) 100%, rgba(113,247,252,1) 100%);
    color: white;
    font-family: "ArialRounded", Arial, Helvetica, sans-serif ;
    text-transform: uppercase;
    position: relative;
    
}

/* Top Left Header - logo and titles*/
.logo img {
    width: 12%;
    min-width: 100px;
    height: auto;
    float: left;
    margin: 40px 0px 10px 0px;
    position: relative;
    left: 5%;
}

header h1 {
    padding-top: 40px;
    font-size: 2.5em;
    margin: 0 0 0 20%;
    text-shadow: 2px 2px 2px #87FBFF;
}
header h2 {
    font-size: 1.8em;
    margin: 0 0 0 20%;
    text-shadow: 1px 1px 1px #87FBFF;
}


/* Top Right Header - cart and account*/
.top-right {
    display: block;
    position: absolute;
    right: 5%;
    top: 40px; 
    text-align: right;
}

.text {
    position: relative;
    bottom: 10px;
    right: 5%;
    font-size: 0.8em; 
}

.top-right img {
    height: 30px;
    width: 32px;
    padding-bottom: 5px;
}

/* Navbar  */
nav {
    clear: left;
    text-align: center; 
    
} 
nav ul {
    padding: 0;
    margin: 0;
}  

header a {
    color: white;
    text-decoration: none;      /*remove hyperlink look*/
}

header li {
    display: inline-block;
    width: 19.9%;               /*leave room for border widths, therefore not 20%*/
    margin-top: 20px;
    font-size: 1.5em;
    padding: 5px 0;
    border-bottom: solid 3px white;    
} 

header li a {
    display: block;             /* Make whole nav item clickable, not just text */
}


.here {                         /* Add a box around nav item to show which page the user is on */
    border: solid 3px white;  
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-left: -3px;
    margin-right: -3px;
} 
.here#store {
    border-bottom: solid 3px rgb(205,55,80);  
    background-color: rgb(205,55,80); 
}

.here#sell {
    border-bottom: solid 3px #6000A9;  
    background-color:  #6000A9; 
}


.right-of-here {                /* Add a border radius at the bottom to get full 'folder divider' effect */
    border: solid 3px white;
    border-top: none;
    border-right: none;
    margin-left: 0px;
    border-bottom-left-radius: 6px;
} 

.left-of-here {                 /* Add a border radius at the bottom to get full 'folder divider' effect */
    border: solid 3px white;
    border-top: none;
    border-left: none;
    padding-right: 3px;
    margin-right: -3px;
    border-bottom-right-radius: 6px;
} 

/* hide mobile only elements */
.hamburger{
    display: none;
}
.mobile-tr {
    display: none;
}

/* Slight size reduction for smaller screens --------------*/

@media (min-width: 800px) and (max-width: 1000px){
    header h1 {
        font-size: 2em;
        
    }
    header h2 {
        font-size: 1.4em;
    }
    nav li {
        font-size: 1.1em ;
    }
}

/* Further size reduction for smaller screens */

@media (min-width: 600px) and (max-width: 800px){
    

    header h1 {
        padding-top: 20px;  
        font-size: 1.7em;
    }
    header h2 {
        font-size: 1.1em;
    }
    nav li {
        font-size: 0.8em ;
    }
    .logo img {
        width: 12%;
        min-width: 80px;
        height: auto;
        float: left;
        margin: 20px 0px 5px 0px;
        position: relative;
        left: 3%;
    }
    .text {
        font-size: 0.6em;
    }
    .top-right {
        top: 20px;
    }
    .top-right img {
        width: 22px;
        height: 20px
    }
}


/* Mobile version --------------------------*/

@media (max-width: 600px){
    header h1 {
        padding-top: 20px; 
        padding-left: 20px; 
        font-size: 1.3em;
    }
    header h2 {
        font-size: 0.7em;
        padding-left: 20px;
    }
    .logo img {
        width: 12%;
        min-width: 60px;
        height: auto;
        float: left;
        margin: 20px 10px 5px 0px;
        position: relative;
        left: 3%;
    }
    .text {
        font-size: 0.6em;
    }
    .top-right {
        display: none;
    }
       
    
    header {
        padding-bottom: 20px;
        border-bottom: solid 3px white;
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 5%;
        top: 20px;
        background-color: transparent;
        background-image: url("../icons and logos/hamburger-menu.png");
        border: none;
        width: 45px;
        height: 34px;
        background-size: 100%;
        z-index: 1000;
    }
    .showClose {
        display: block;
        position: absolute;
        right: 5%;
        top: 20px;
        background-color: transparent;
        background-image: url("../icons and logos/close-menu.png");
        border: none;
        width: 45px;
        height: 34px;
        background-size: 100%;
        z-index: 1000;
        
    }
    nav {
        display: block;
        position: absolute;
        top: 80px;
        right: 5%;
        background: black;
        border-radius: 6px;
        width: auto;
        height: 0px;
        overflow: hidden;
        color: white;
        z-index: 1000;
        
      }
   
      nav li , .here, .left-of-here, .right-of-here, #store, #sell{
          background-color: unset;
          display:block;
          padding: 5px 0px;
          margin: 0 8px;
          list-style-type: none;
          font-size: 1em;
          background-color: none;
          border: none;
          width: 100%;
          text-align: left;
      }
  
      .showNav {
        /* show the menu */
        width: auto;
        height: auto;
        border: solid 3px #FF9AD7;
      }
    
      .mobile-tr {
          display: inline;
          position: fixed;
          bottom: 0;
          background-color: rgba(255,255,255,0.5);
          width: 100%;
          border: solid 3px white;
      }
      .mobile-tr a {
          height: 30px;
          width: 32px;
          padding: 5px 10px;
      }
      
      
}


/*Main ------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/

main {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 90%, rgba(205,55,80,1) 100%, rgba(205,55,80,1) 100%);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.store-navigation ul {
    margin-top: 0;
    padding: 0;
    list-style-type: none;    /*Remove bullet points*/   
}

.store-navigation a {
    text-decoration: none;    /*Remove hyperlink underline*/ 
    color: white; 
}


.store-navigation li {
    display: inline-block;
    font-family: "ArialRounded", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 8px 2%;
    vertical-align: top;
}

.store-navigation button {
    height: 25px;
    width: 25px;
    background-image: url("../icons and logos/search-icon.png");
    background-size: 100%;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    position: relative;
    bottom: 3px;
}

.store-navigation input {
    border-radius: 10px;
}


.main-storefront {
    display: flex;
    text-align: center; 
     
}
.main-storefront section {
    padding: 0 2.5%;
}

.main-storefront img {
    width: 100%;
}

.main-storefront span {
    color: #87FBFF;
}

.main-storefront h2 {
    color: white; 
    text-transform: uppercase;
    text-align: left;

}

.news {
    flex: 1;
    margin: 0;
}

.news-item {
    width: 100%;
    border: solid 3px white;
    border-radius: 6px; 
    color: white;
    margin: 12px 0 24px 0;
    
}

.featured {
    flex: 3;
    text-align: center;
        
}

.featured-item {
    
    width: 100%;
    border: solid 3px #87FBFF;
    border-radius: 6px; 
    color: white;
    margin: 12px 0 24px 0;
}


.reviews {
    flex: 1;
    text-align: left;
}

.reviews-item {
    width: 100%;
    border: solid 3px #FF9AD7;
    border-radius: 6px; 
    color: white;
    margin: 12px 0 24px 0;
}

.reviews h3, p {
    margin-left: 1%;
}



/* Slight size reduction for smaller screens and drop news column--------------*/

@media (min-width: 800px) and (max-width: 1000px){
    .store-navigation li {
        font-size: 0.9em;
        padding: 8px 1%;
    }
    
    .news {
        display: none;
    }
    .featured {
        flex: 4;
    }
    .reviews {
        flex: 1;
    }

}

@media  (max-width: 800px){
    .news {
        display: none;
    }
    .main-storefront {
        display: unset;
    }
    .store-navigation li {
        font-size: 0.7em;
        padding: 8px 0.45%;
    }
    .main-storefront h2 {
        font-size: 0.9em;
    }

    
}

@media  (max-width: 600px){
    #search {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 0;
        height: 38px;
        margin: auto 10px auto 0px;
        z-index: 1000;
    }
    #search input {
        height: 80%;
        border-radius: 19px;
        width: 50vw;
    }
}



/* Help with linear gradient from https://cssgradient.io/ */